.DS_Store
textures/guns/**/*.3DS
textures/guns/**/*.3ds
textures/guns/**/*.BMP
textures/guns/**/*.c4d
textures/guns/**/*.dae
textures/guns/**/*.fbx
textures/guns/**/*.FBX
textures/guns/**/*.max
textures/guns/**/*.mb
textures/guns/**/*.mtl
textures/guns/**/*render.jpeg
textures/guns/**/Tex_*.png
